<div id="container">
  <div id="mybook">
    <div> This is the cover  </div>
    <div> This is the page 1 </div>
    <div> This is the page 2 </div>
    <div> This is the page 3 </div>
    <div> the end </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#mybook').wowBook({
      height : 500,
      width  : 600,
      scaleToFit: "#container",
      responsiveSinglePage: function( book ){
        return $("#container").width() < 500;
      }
    });
  });
</script>
